<%- include('../parts/head', {bot, user, path}) %>

<title>DTL | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
<div class="bg-vote-disbots pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Website Developers Credits
</h3>
</center>
<p class="text-muted">
<strong>Modification Credits</strong> <span class="badge badge-danger">listing.discor</span>
<br>
This website is made/modified by disbots.xyz.
<br>Owned by Void Team (vcodes.xyz).
<br>More modifications by desixred development.
</p>

</div>
</div>
</div>
    <center>
    <button onclick="location.href='https://townlist.xyz'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Home</button>
    </center>
</div>

<%- include('../parts/foot') %>
