<head>

    <title translate="no">DTL | Discord Bots</title>
    <meta name="og:title" content="DTL | Discover Bots" />
    <link rel="icon" href="https://cdn.discordapp.com/attachments/891226286830272524/894237703116296273/image0.png" type="image/x-icon">
    <meta name="og:url" content="https://townlist.xyz" />
    <meta name="og:description" content="Find the best Discord bots for your discord server with our expanding bot list. Browse information on each bot and vote for your favourites.">
    <meta name="og:url" content="https://townlist.xyz" />
        <link rel="icon" href="https://cdn.discordapp.com/attachments/891226286830272524/894254398937628752/image0.png" type="image/x-icon">
   
        <meta property="og:site_name" content="Powered by townlist.xyz">
 
    <meta name="description" content="Town List is an expanding listing service made for bot developers and even server owners. We have active support team, rewards for reaching votes and even our own API! You can find anything here, press the link and start discovering!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Discord Bots">
    <meta name="twitter:description" content="Find the best Discord bots for your discord server with our expanding bot list. Browse information on each bot and vote for your favourites.">

</head>